//@import "scss-reset/_reset.scss";

:root {
	--debug: 1px;
	--padding: 0;
	--mainPadding: 2rem;

	--bg: #eee;
	--clr: #333;
	--bgAlpha: #eee;
	--bgAlphaLight: #80808022;
	--clrAlpha: #80808080;
	--clrAlphaLight: #80808022;
	--multiply: multiply;
	--screen: screen;
}

// display

$basefont: "DM Sans";
$bgcolor: #f6f6f6;
$textcolor: #333;
$bp: "screen and (max-width: 40rem)";
$bpup: "screen and (min-width: 60rem)";

html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: var(--bg);

	font: 16px/1.3em $basefont;

	transition: all 0.9s;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	@media #{$bpup} {
		display: flex;
		align-items: flex-start;
	}
	hyphens: auto;
	color: var(--clr);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	transition: all 0.6s;
}

.debug {
	display: flow-root;
	width: 100%;
	outline: var(--debug) inset #f009;
	outline-offset: -1px;
}

@mixin sans {
	font-family: "DM Sans", sans-serif;
	letter-spacing: -0.015em;
}

.settings {
	--active: var(--bg);
	--active-inner: var(--clr);
	--focus: 2px var(--bgAlpha);
	--border: var(--bgAlphaLight);
	--border-hover: var(--bgAlpha);
	--background: var(--clr);
	--disabled: #f6f8ff;
	--disabled-inner: #e1e6f9;

	@include sans;

	transition: all 0.6s;

	font-size: 0.9rem;
	line-height: 1.5rem;
	color: var(--bg);
	background: var(--clr);

	form {
		max-width: 15rem;
		//margin: auto;
		padding: 2rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
		column-gap: 2rem;
		> div {
			margin-bottom: 0rem;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			//justify-content: space-between;

			legend {
				flex: 100%;
				padding-top: 0.7rem;
				padding-bottom: 0.2rem;
			}
			&:first-child legend {
				padding-top: 0;
			}
		}
	}
	legend {
		color: var(--bg);
	}

	@supports (-webkit-appearance: none) or (-moz-appearance: none) {
		input {
			@include sans;

			color: var(--bg);

			//margin: 0.5rem 0 1.5rem 0;
			border: 0;
			border-radius: 0.5rem;
			outline: none;
			border: rgba(0, 0, 0, 0.05);
			background: var(--clrBgLight);
			transition: box-shadow 0.3s ease-out;
		}

		input[type="text"] {
			background: none;
			flex: 100%;
			width: 100%;
			font-size: inherit;
			border-bottom: 3px solid var(--bgAlphaLight);
			border-radius: 0;
			padding: 0.5rem 0;
			margin-bottom: 0.5rem;
		}

		input[type="number"] {
			flex: 0 0 3rem;
			//background: red;
			font-size: inherit;
			text-align: right;
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type="number"] {
			-moz-appearance: textfield;
		}

		input[type="range"] {
			-webkit-appearance: none;
			flex: auto;
			height: 3px;
			cursor: pointer;
			background: var(--bgAlphaLight);
			padding: 0;
			margin: 1em 0 0.8em;

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				height: 2em;
				width: 2em;
				border-radius: 50%;
				background: var(--bg);
				cursor: pointer;
				margin-top: 0px;
				transition: all 0.3s ease-out;
				&:active {
					background: var(--bgAlpha);
					transform: scale(1.1);
				}
			}
		}

		input[type="checkbox"],
		input[type="radio"] {
			-webkit-appearance: none;
			-moz-appearance: none;
			height: 25px;
			outline: none;
			display: inline-block;
			vertical-align: top;
			position: relative;
			margin: 0;
			cursor: pointer;
			border: 3px solid var(--bgAlphaLight);
			background: var(--b, var(--background));
			transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
			&:after {
				content: "";
				display: block;
				left: 0;
				top: 0;
				position: absolute;
				transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
			}
			&:checked {
				--b: var(--active);
				--bc: var(--active);
				--d-o: 0.3s;
				--d-t: 0.6s;
				--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
			}
			&:disabled {
				--b: var(--disabled);
				cursor: not-allowed;
				opacity: 0.9;
				&:checked {
					--b: var(--disabled-inner);
					--bc: var(--border);
				}
				& + label {
					cursor: not-allowed;
				}
			}
			&:hover {
				&:not(:checked) {
					&:not(:disabled) {
						--bc: var(--border-hover);
					}
				}
			}

			&:not(.switch) {
				width: 21px;
				&:after {
					opacity: var(--o, 0);
				}
				&:checked {
					--o: 1;
				}
			}
		}
		input[type="checkbox"] {
			&:not(.switch) {
				border-radius: 7px;
				&:after {
					width: 5px;
					height: 9px;
					border: 2px solid var(--active-inner);
					border-top: 0;
					border-left: 0;
					left: 7px;
					top: 4px;
					transform: rotate(var(--r, 20deg)) scale(0);
				}
				&:checked {
					--r: 43deg;
					&:after {
						transform: rotate(var(--r, 20deg)) scale(1);
					}
				}
			}
			&.switch {
				width: 42px;
				border-radius: 13px;
				&:after {
					left: 2px;
					top: 2px;
					border-radius: 50%;
					width: 15px;
					height: 15px;
					background: var(--ab, var(--bg));
					transform: translateX(var(--x, 0));
				}
				&:checked {
					--ab: var(--active-inner);
					--x: 17px;
					border-color: var(--bgAlpha);
				}
				&:disabled {
					&:not(:checked) {
						&:after {
							opacity: 0.6;
						}
					}
				}
			}
		}
		input[type="radio"] {
			border-radius: 50%;
			&:after {
				width: 19px;
				height: 19px;
				border-radius: 50%;
				background: var(--active-inner);
				opacity: 0;
				transform: scale(var(--s, 0.7));
			}
			&:checked {
				--s: 0.5;
			}
		}
	}
}
